@import '../../../../scss/include-media.scss';

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.container {
  align-items: center;
  background-color: #3d1152;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  position: fixed;
  transition: 0.2s ease all;
  width: 380px;
  z-index: 99;
}

.top {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sellerReference {
  display: flex;
  font-size: 16px;
  padding: 8px 16px;
  width: 100%;
}

.divider {
  background-color: rgba(0, 0, 0, 0.15);
  height: 1px;
  margin: 16px 0;
  width: calc(100% - 32px);
}

.bottom {
  padding-bottom: 32px;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px;
  margin-top: 8px;
  width: calc(100% - 32px);
}

.name {
  align-self: flex-start;
  margin-left: 16px;
  margin-bottom: 8px;
}

.button {
  width: 100%;
  background-color: #c2d500;
  align-items: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;

  &.contact {
    background-color: rgba(92, 216, 255, 0.12);
    color: #5cd8ff;
  }

  &.logout {
    background-color: #c2d500;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #3d1152;
  }
}

.chatIcon {
  font-size: 16px;
  margin-right: 8px;
}

.textButton {
  font-size: 14px;
}

.sellerRefButton {
  align-items: center;
  height: 48px;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  padding: 0 16px;
  width: calc(100% - 16px);
}

.closeButton {
  left: -4px;
  height: 0;
  position: absolute;
  top: -4px;
  visibility: hidden;
  width: 0;
}

.scrim {
  pointer-events: none;
  transition: 0.2s ease all;
  visibility: hidden;
  z-index: -10;
}

@include media('<=tablet') {
  .container {
    left: -320px;

    &.display {
      left: 0px;
    }
  }

  .closeButton {
    align-items: center;
    border-radius: 12px;
    background-color: #c2d500;
    display: flex;
    font-size: 18px;
    height: 24px;
    justify-content: center;
    left: auto;
    visibility: visible;
    right: 16px;
    top: 16px;
    width: 24px;
  }

  .scrim {
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    left: 0;
    pointer-events: all;
    position: fixed;
    right: 0;
    top: 0;
    visibility: visible;
    z-index: 98;
  }
}
