// Primary colours
$color-primary: #38144f;
$color-primary-variant: #8f3089;
$color-blue-dark: #051231;
$color-gray-light: #606060;

// Secondary colours
$color-yellow: #F5DA63;
$color-brown: #947E5D;
$color-blue-light: #71BDE8;
$color-dark: #1D1D1B;
$color-gray: #828282;
$color-gray-bold: #b5b5b5;
$color-red: #e83f36;
$color-green: #c6d439
